.container {
  height: 100%;
  max-width: var(--app-max-width);
  margin: 0 auto;
  overflow-y: hidden;

  display: grid;
  grid-template-rows: var(--app-header-height) 1fr;
  gap: 5px;
}

.form-container {
  border-bottom: var(--app-border);
  align-content: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
}

.form-container img {
  height: 40px;
  width: auto;
}

.form-container form {
  display: flex;
  width: 100%;
  gap: 5px;
}

.list-container {
  overflow-y: auto;
}
