:root {
  --app-background-color: #23232b;
  --app-foreground-color: #fff;

  --app-border: 1px solid #3c4043;
  --app-border-radius: 5px;

  --app-max-width: 1024px;
  --app-header-height: 60px;
}

html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--app-background-color);
  color: var(--app-foreground-color);
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 16px;
}

/* Global Styles */
h1 {
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
}

input[type='text'] {
  background: var(--app-background-color);
  color: var(--app-foreground-color);
  border-radius: var(--app-border-radius);
  border: var(--app-border);
  padding: 5px 10px;
  width: 100%;
  font-family: inherit;
  font-size: 1.1rem;
}

input[type='submit'],
input[type='reset'] {
  font-family: inherit;
  font-size: 1.1rem;
  border-radius: var(--app-border-radius);
  box-shadow: rgba(0, 0, 0, 0.1) 0 2px 4px 0;
  border: 0;
  cursor: pointer;
  transition: transform 150ms, box-shadow 150ms;
  padding: 5px 15px;

  &:hover {
    box-shadow: rgba(0, 0, 0, 0.15) 0 3px 9px 0;
    text-decoration: none;
    transition-duration: 0.15s, 0.15s;
  }

  &.primary {
    background-color: #13aa52;
    border: 1px solid #13aa52;
    color: #ffffff;
    text-align: center;
    transition: box-shadow 0.05s ease-in-out, opacity 0.05s ease-in-out;
  }
}
